<div class="left">
  <div class="logo">
    iggrow
  </div>
  <h1 class="main-title">
    Keep focus on creating good content.
    <span>We do the rest...</span>
  </h1>
</div>

<div class="right">
  <h2>Connectez-vous</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",
        class: "login-input", placeholder: "email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password",
        class: "login-input", placeholder: "password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field mb10">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "LOGIN", class: "btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>

