<div class="left">
  <div class="logo">
    iggrow
  </div>
  <h1 class="main-title">
    Keep focus on creating good content.
    We do the rest...
  </h1>
  <%= image_tag("shape-circle.svg", class: "l-shape-1") %>
  <%= image_tag("shape-rectangle.svg", class: "l-shape-2") %>
  <%= image_tag("shape-half-circle.svg", class: "l-shape-3") %>
  <%= image_tag("shape-square.svg", class: "l-shape-4") %>
  <%= image_tag("shape-triangle.svg", class: "l-shape-5") %>
  <%= image_tag("shape-circle.svg", class: "l-shape-6") %>
  <%= image_tag("shape-rectangle.svg.svg", class: "l-shape-7") %>
  <%= image_tag("shape-half-circle.svg", class: "l-shape-8") %>
  <%= image_tag("shape-square.svg", class: "l-shape-9") %>
  <%= image_tag("shape-triangle.svg.svg", class: "l-shape-10") %>
</div>

<div class="right">
  <h2>Connectez-vous</h2>
  <input type="" placeholder="username" class="login-input">
  <input type="" placeholder="password" class="login-input">
  <button class="btn-primary">LOGIN</button>
  <%= image_tag("shape-circle.svg", class: "l-shape-1") %>
  <%= image_tag("shape-rectangle.svg", class: "l-shape-2") %>
  <%= image_tag("shape-half-circle.svg", class: "l-shape-3") %>
  <%= image_tag("shape-square.svg", class: "l-shape-4") %>
  <%= image_tag("shape-triangle.svg", class: "l-shape-5") %>
  <%= image_tag("shape-circle.svg", class: "l-shape-6") %>
  <%= image_tag("shape-rectangle.svg.svg", class: "l-shape-7") %>
  <%= image_tag("shape-half-circle.svg", class: "l-shape-8") %>
  <%= image_tag("shape-square.svg", class: "l-shape-9") %>
  <%= image_tag("shape-triangle.svg.svg", class: "l-shape-10") %>
</div>
